.login{
  height: 25%;
  width: 150px;
  margin-top: 10%;
  margin-left: 40%;
}
.input{
  width: 80%;
  
  /* color: white; */
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  
}
.form{
  height: 300px;
  width: 250px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.button{
  background-color: #4CAF50;
  padding: 14px 20px;
  border-radius: 4px;
  border: none;
cursor: pointer;

}
.button:hover{
  background-color: #87da8a;

}